body{
  background-color: whitesmoke;
}
form{
  margin-top: 50%;
  background-color: white;
  padding: 40px;
}
label{
  font-weight: 700;
}
input{
  padding: 10px;
  width: 90%;
  border: 1px solid lightgrey;
  border-radius: 3px;
}
button{
  margin-top: 5%;
  width: 99%;
  padding: 11px;
  border: none;
  outline: none;
  background-color: darkslateblue;
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
}
p{
  text-align: center;
  width: 100%;
}
